<section class="cadastro">
    <div class="container">
        <div class="row">
            <div class="column is-4 is-offset-4 box register">
                <div class="row">
                    <div class="logo">
                        <img src="../../assets/images/logo.png">
                    </div>
                </div>
                <div class="row">
                    <div class="column is-12">
                        <form>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" placeholder="Seu e-mail" type="email" #inputEmail>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" placeholder="Sua senha" type="password" #inputPassword>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <input class="input is-large" placeholder="Seu Nome" type="hidden" value="root" #inputNome>
                                </div>
                            </div>

                            <div class="field">
                                <label class="checkbox"></label>
                            </div>

                            <button type="button" class="button is-large is-fullwidth" (click)="register(inputEmail.value,inputPassword.value,inputNome.value)">CADASTRAR</button>
                    </form>
                </div>
            </div>
            <div class="row has-text-centered">
                <p>
                    <a href="/login">Já tem uma conta? Acesse já!</a>
                </p>
            </div>
        </div>
    </div>
</div>
</section>






<!--
<section class="">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
              <h3 class="title has-text-grey">Login</h3>
              <p class="subtitle has-text-grey">Please login to proceed.</p>
              <div class="box">
                  <figure class="avatar">
                      <img src="https://placehold.it/128x128">
                  </figure>
                  <form>
                      <div class="field">                        
                          <div class="control">
                              <input class="input is-large" placeholder="Seu Email" autofocus="" type="email" #inputEmail>
                          </div>
                      </div>

                      <div class="field">
                          <div class="control">
                              <input class="input is-large" placeholder="Sua Senha" type="password" #inputPassword>
                          </div>
                      </div>
                      <div class="field">
                          <div class="control">
                              <input class="input is-large" placeholder="Seu Nome" type="text" #inputNome>
                          </div>
                      </div>
                      <button type="button" class="button is-block is-info is-large is-fullwidth" (click)="register(inputEmail.value,inputPassword.value,inputNome.value)">Login</button>
                  </form>
              </div>
              <p class="has-text-grey">
                <a routerLink="/">Login</a>&nbsp;·&nbsp;
                <a href="../">Need Help?</a>
              </p>
          </div>
      </div>
  </div>
</section>
-->