<section class="">
  <div class="hero-body">
      <div class="container has-text-centered">
          <div class="column is-4 is-offset-4">
              <h3 class="title has-text-grey">Login</h3>
              <p class="subtitle has-text-grey">Please login to proceed.</p>
              <div class="box">
                  <figure class="avatar">
                      <img src="https://placehold.it/128x128">
                  </figure>
                  <form>
                      <div class="field">
                          <div class="control">
                              <input class="input is-large" placeholder="Seu Email" autofocus="" type="email" #inputEmail>
                          </div>
                      </div>

                      <div class="field">
                          <div class="control">
                              <input class="input is-large" placeholder="Your Password" type="password" #inputPassword>
                          </div>
                      </div>
                      <div class="field">
                        <label class="checkbox">
                        <input type="checkbox">
                        Remember me
                        </label>
                      </div>
                      <button type="button" class="button is-block is-info is-large is-fullwidth" (click)="login(inputEmail.value,inputPassword.value)">Login</button>
                  </form>
              </div>
              <p class="has-text-grey">
                  <a href="../">Sign Up</a> &nbsp;·&nbsp;
                  <a href="../">Forgot Password</a> &nbsp;·&nbsp;
                  <a href="../">Need Help?</a>
              </p>
          </div>
      </div>
  </div>
</section>