<nav class="navbar ">
  <div class="navbar-brand">
    <a class="navbar-item" href="http://bulma.io">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a class="navbar-item" routerLink="/listas" target="_blank">
      <span>
        Minhas Listas
      </span>
    </a>

    <a class="navbar-item" routerLink="/compartilhadas" target="_blank">
      <span>
        Compartilhadas
      </span>
    </a>

    <div class="navbar-burger burger" data-target="navMenubd-example">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>

<ul>
  <li>Minhas Listas</li>
  <li>Compartilhadas</li>
</ul>