html, body {
    height: 100%;
}
.opcoes svg {
    position: fixed;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    color: #fff;
    cursor: pointer;
}
.modal-opcoes ul li {
    padding: 15px 0;
}
.modal-opcoes ul li a {
    color: #ff491f;
}
.listas {
    padding-top: 25px;
}
.listas ul li {
    width: 100%;
    float: left;
    list-style-type: none;
    margin: 0 0 15px 0;
}
.listas ul li a {
    font-size: 12pt;
    font-style: italic;
    color: #ff8e74;
    text-decoration: none;
}
.listas h2 {
    color: #ff491f;
    font-weight: bold;
}
.espelho-lista {
    padding: 5px;
    margin: 0 auto;
    margin-left: 15%;
    border-bottom: 2px solid #f8cbad;
}
.icone svg {
    float: left;
    width: 12%;
    height: 60px;
    padding-top: 10px;
    color: #ff491f;
}